<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Accordion Component: @alpinejs, @tailwindcss</title>
    <!-- Dependencies -->

    <!-- AlpineJS Collapse Plugin -->
    <script
      defer
      src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- AlpineJS Core -->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="p-12 bg-gray-900 flex flex-col items-center min-h-screen">
    <div class="mt-12">
      <h1 class="text-3xl text-center font-bold text-amber-300 mb-1">
        Custom Accordion Component
      </h1>
      <h2 class="text-xl text-center text-amber-300">AlpineJS + TailwindCSS</h2>
    </div>

    <div class="w-full mt-24 max-w-lg">
      <!-- Start Component -->
      <div></div>
      <!-- End Component -->
    </div>
  </body>
</html>

<script type="application/javascript"></script>
