<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      Multi-Select-Box with tags and (optional) duplicates: @alpinejs,
      @tailwindcss
    </title>

    <!-- Dependencies -->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="p-12 bg-gray-900 flex flex-col items-center min-h-screen">
    <div class="mt-12">
      <h1 class="text-3xl text-center font-bold text-amber-300 mb-1">
        Custom Multi-Select Component
      </h1>
      <h2 class="text-xl text-center text-amber-300">AlpineJS + TailwindCSS</h2>
    </div>

    <div class="w-full mt-24 max-w-lg">
      <!-- Start Component -->
      <div
        class="relative"
        x-data="multiselect(
          {
            items: [
              { label: 'Magenta', value: '#ff00ff' }, 
              { label: 'Blue', value:  '#0000FF' }, 
              { label: 'Green', value: '#00FF00' },
              { label: 'Red', value: '#FF0000' },
              { label: 'Yellow', value: '#FFFF00' },
              { label: 'Gray', value: '#CCC' },
              { label: 'I am a very long value and will show a maximum of 50 chars!', value: '#FF0F0E' },
            ],
            size: 3
          }
        )"
        x-init="onInit()"
        @focusout="handleBlur"
      >
        <!-- Start Item Tags And Input Field -->
        <div
          class="flex items-center justify-between px-1 border border-2 rounded-md relative pr-8 bg-white"
        >
          <ul class="flex flex-wrap items-center w-full">
            <!-- Tags (Selected) -->
            <template x-for="(selectedItem, idx) in selectedItems">
              <li
                @click="removeElementByIdx(idx)"
                @keyup.delete="removeElementByIdx(idx)"
                @keyup.backspace="removeElementByIdx(idx)"
                tabindex="0"
                x-text="shortenedLabel(selectedItem.label, maxTagChars)"
                class="relative m-1 px-2 py-1.5 border rounded-md cursor-pointer hover:bg-gray-100 after:content-['x'] after:ml-1.5 after:text-red-300 outline-none focus:outline-none ring-0 focus:ring-2 focus:ring-amber-300 ring-inset transition-all"
              ></li>
            </template>

            <!-- Search Input -->
            <input
              x-ref="searchInput"
              x-model="search"
              @keyup.enter="addActiveItem()"
              @click="expanded = true"
              @focusin="expanded = true"
              @input="expanded = true"
              @keyup.arrow-down="expanded = true; selectNextItem()"
              @keyup.arrow-up="expanded = true; selectPrevItem()"
              @keyup.esc="reset()"
              type="text"
              class="flex-grow py-2 px-2 mx-1 my-1.5 outline-none focus:outline-none focus:ring-amber-300 focus:ring-2 ring-inset transition-all rounded-md w-24"
              :placeholder="searchPlaceholder"
            />

            <!-- Arrow Icon -->
            <svg
              @click="expanded = true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              stroke-width="0"
              fill="#ccc"
              class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"
              :class="expanded && 'rotate-180'"
            >
              <path
                d="M12 17.414 3.293 8.707l1.414-1.414L12 14.586l7.293-7.293 1.414 1.414L12 17.414z"
              />
            </svg>
          </ul>
        </div>
        <!-- End Item Tags And Input Field -->

        <!-- Start Items List -->
        <template x-if="expanded">
          <ul
            class="w-full list-none border border-2 border-t-0 rounded-md focus:outline-none overflow-y-auto outline-none focus:outline-none bg-white absolute left-0 bottom-100"
            tabindex="0"
            :style="listBoxStyle"
            x-ref="listBox"
          >
            <template x-if="filteredItems.length">
              <template x-for="(filteredItem, idx) in filteredItems">
                <!-- Item Element -->
                <li
                  @click="handleItemClick(filteredItem)"
                  :class="idx === activeIndex && 'bg-amber-200'"
                  x-text="shortenedLabel(filteredItem.label, maxItemChars)"
                  class="hover:bg-amber-200 cursor-pointer px-2 py-2"
                ></li>
              </template>
            </template>

            <template x-if="!filteredItems.length">
              <!-- Empty Text -->
              <li
                class="cursor-pointer px-2 py-2 text-gray-400"
                x-text="emptyText"
              ></li>
            </template>
          </ul>
        </template>

        <!-- End Items List -->
      </div>
      <!-- End Component -->
    </div>
  </body>
</html>

<script type="application/javascript">
  function multiselect(config) {
    return {
      items: config.items ?? [],

      allItems: null,

      selectedItems: null,

      search: "",

      searchPlaceholder: config.searchPlaceholder ?? "Type here...",

      expanded: false,

      emptyText: config.emptyText ?? "No items found...",

      allowDuplicates: config.allowDuplicates ?? false,

      size: config.size ?? 6,

      itemHeight: config.itemHeight ?? 40,

      maxItemChars: config.maxItemChars ?? 50,

      maxTagChars: config.maxTagChars ?? 25,

      activeIndex: -1,

      onInit() {
        this.allItems = [...this.items];

        this.$watch("filteredItems", (newValues, oldValues) => {
          if (newValues.length !== oldValues.length) this.activeIndex = -1;
        });

        this.$watch("selectedItems", (newValues, oldValues) => {
          if (this.allowDuplicates) return;

          this.allItems = this.items.filter((item, idx, all) =>
            newValues.every((n) => n.value !== item.value)
          );
        });

        this.$watch("activeIndex", (newValue, oldValue) => {
          if (newValue == -1 || !this.filteredItems[newValue] || !this.expanded)
            return;

          this.scrollToActiveElement();
        });

        this.selectedItems = this.items.filter((item) => item.selected);
      },

      reset() {
        this.expanded = false;

        this.activeIndex = -1;

        this.search = "";
      },

      handleBlur(e) {
        if (this.$el.contains(e.relatedTarget)) {
          return;
        }

        this.expanded = false;
      },

      handleItemClick(item) {
        this.selectedItems.push(item);

        this.search = "";

        this.$refs.searchInput.focus();
      },

      removeElementByIdx(idx) {
        this.selectedItems.splice(idx, 1);
      },

      selectNextItem() {
        if (!this.filteredItems.length) {
          return;
        }

        if (this.filteredItems.length - 1 == this.activeIndex) {
          return (this.activeIndex = 0);
        }

        this.activeIndex++;
      },

      selectPrevItem() {
        if (!this.filteredItems.length) {
          return;
        }

        if (this.activeIndex == 0 || this.activeIndex == -1) {
          return (this.activeIndex = this.filteredItems.length - 1);
        }

        this.activeIndex--;
      },

      addActiveItem() {
        if (!this.filteredItems[this.activeIndex]) return;

        this.selectedItems.push(this.filteredItems[this.activeIndex]);
      },

      scrollToActiveElement() {
        const availableListElements = [...this.$refs.listBox.children].slice(
          2,
          -1
        );

        availableListElements[this.activeIndex].scrollIntoView({
          block: "end",
        });
      },

      shortenedLabel(label, maxChars) {
        return !maxChars || label.length <= maxChars
          ? label
          : `${label.substr(0, maxChars)}...`;
      },

      get listBoxStyle() {
        return {
          maxHeight: `${this.size * this.itemHeight + 2}px`,
        };
      },

      get filteredItems() {
        return this.allItems.filter((item) =>
          item.label.toLowerCase().includes(this.search.toLowerCase())
        );
      },
    };
  }
</script>
