<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Accordion Component: @alpinejs, @tailwindcss</title>
    <!-- Dependencies -->

    <!-- AlpineJS Collapse Plugin -->
    <script
      defer
      src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- AlpineJS Core -->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="p-12 bg-gray-900 flex flex-col items-center min-h-screen">
    <div class="mt-12">
      <h1 class="text-3xl text-center font-bold text-amber-300 mb-1"></h1>
      <h2 class="text-xl text-center text-amber-300">AlpineJS + TailwindCSS</h2>
    </div>

    <div class="w-full mt-24 max-w-lg">
      <!-- Start Component -->
      <div class="space-y-4">
        <div x-data="accordion({ expanded: true })" x-init="onInit">
          <h3>
            <!-- Accordion Head Start -->
            <button
              @click="expanded = !expanded"
              class="relative w-full flex justify-between items-center border border-amber-200 rounded text-white p-4"
            >
              <h2>Collapse me!</h2>

              <!-- Arrow Icon -->
              <svg
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                stroke-width="0"
                fill="#fff"
                class="absolute right-2 top-1/2 -translate-y-1/2 transition"
                :class="{ '-rotate-180': expanded }"
              >
                <path
                  d="M12 17.414 3.293 8.707l1.414-1.414L12 14.586l7.293-7.293 1.414 1.414L12 17.414z"
                />
              </svg>
            </button>
          </h3>
          <!-- Accordion Head End -->

          <!-- Accordion Content Start -->
          <div
            x-collapse.duration.500ms
            x-collapse.transition.ease-in-out
            x-show="expanded"
            x-ref="accordionContentWrapper"
            class="border border-amber-200 border-t-0 rounded-bl rounded-br text-white hidden"
          >
            <p class="p-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto ut
              placeat temporibus, tempora dolorem qui quod quaerat maiores
              voluptatum neque animi veritatis pariatur. Consequuntur, minus.
              Perspiciatis nihil ab reprehenderit delectus!
            </p>
            <p class="p-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto ut
              placeat temporibus, tempora dolorem qui.
            </p>
          </div>
          <!-- Accordion Content Start -->
        </div>
      </div>
      <!-- End Component -->
    </div>
  </body>
</html>

<script type="application/javascript">
  function accordion(config) {
    return {
      expanded: config.expanded ?? false,

      onInit() {
        this.$refs.accordionContentWrapper.classList.remove("hidden");
      },
    };
  }
</script>
